<div id="{{ currentWidget.getWidgetId() }}" class="moto-widget moto-widget-accordion moto-widget_interactive moto-preset-{{ currentWidget.properties.preset }} {{ currentWidget.getAlignClass() }} {{ currentWidget.getSpacing('classes') }} {{ currentWidget.getVisibleOn('classes') }} {{ currentWidget.getAnimationClasses() }} moto-disabling_row-fixed set-row-gutter-0" data-widget="accordion" data-preset="{{ currentWidget.properties.preset }}" {% if currentWidget.properties.closeOthers %} data-close-others{% endif %}>
    <div id="{{ currentWidget.getWidgetId() }}__content" class="moto-widget-accordion__wrapper">
        {% for item in currentWidget.children %}
            {% if isServer %}
                {{ widget(item) }}
            {% else %}
                {% widget item %}{% endWidget %}
            {% endif %}
        {% endfor %}
    </div>
    {% if isPreview %}<div class="moto-widget-empty"></div>{% endif %}
</div>