<div data-widget-id="{{ currentWidget.getWidgetId() }}" class="moto-widget moto-widget-video_player moto-media-player moto-preset-default {{ currentWidget.getSpacing('classes') }}"{% if not isPreview and currentWidget.properties.settings.autoplay %} data-autoplay-settings="{{ currentWidget.properties.autoplaySettings|json_encode }}" {% endif %} data-widget="video_player" data-preset="default">
    {% if isPreview %}<div class="moto-widget-cover"></div>{% endif %}
    {% if (currentWidget.properties.tracks[0].webm.path or currentWidget.properties.tracks[0].mp4.path) %}
        <div class="moto-media-player-container"{% if not isPreview %} data-buttons="{{ currentWidget.exportButtons() }}"{% endif %}>
            <video width="100%" height="100%" preload="auto"
                {% if currentWidget.properties.tracks[0].poster.path %} poster="{{ Linker.img(currentWidget.properties.tracks[0].poster.path) }}" {% endif %}
                {% if currentWidget.properties.settings.muted %} muted{% endif %}
                {% if not isPreview %}
                duration="{{ currentWidget.getTrackDuration(currentWidget.properties.tracks[0]) }}"
                title="{{ currentWidget.getTrackTitle(currentWidget.properties.tracks[0]) }}"
                {% endif %}>
                {% if currentWidget.properties.tracks[0].webm.path %}
                    <source src="{{ Linker.file(currentWidget.properties.tracks[0].webm.path) }}" type="video/webm">
                {% endif %}
                {% if currentWidget.properties.tracks[0].mp4.path %}
                    <source src="{{ Linker.file(currentWidget.properties.tracks[0].mp4.path) }}" type="video/mp4">
                {% endif %}
            </video>
        </div>
    {% else %}
        <div class="moto-widget-empty"></div>
    {% endif %}
</div>