<div data-widget-id="{{ currentWidget.getWidgetId() }}" class="moto-widget moto-widget-audio_player moto-media-player moto-preset-{{ currentWidget.properties.preset }} {{ currentWidget.getSpacing('classes') }} {{ currentWidget.getAnimationClasses() }}"{% if not isPreview and currentWidget.properties.settings.autoplay %} data-autoplay-settings="{{ currentWidget.properties.autoplaySettings|json_encode }}"{% endif %} data-widget="audio_player" data-preset="{{ currentWidget.properties.preset }}">
    {% if isPreview %}<div class="moto-widget-cover"></div>{% endif %}
    <div class="moto-media-player-container"{% if not isPreview %} data-buttons="{{ currentWidget.exportButtons() }}"{% endif %}>
        <audio {% if not isPreview %} preload="metadata"{% if currentWidget.properties.settings.loop %} loop{% endif %}{% endif %}>
            <source src="{{ Linker.file(currentWidget.properties.tracks[0].path) }}" type="audio/mpeg"{% if not isPreview %} track-name="{{currentWidget.properties.tracks[0].name}}" track-length="{{currentWidget.properties.tracks[0].length}}"{% endif %}/>
        </audio>
    </div>
</div>