<div style="padding:42px">
    <h1 style="color: #5A6378;font-family:'Verdana','sans-serif';font-size: 24px;font-weight: 400;margin:0 0 10px 0">Forgot Password?</h1>
    <p style="color: #909090;font-family:'Verdana','sans-serif';font-size: 16px;line-height: 29px;font-weight: 400;margin:0">This password reset request is valid for the <span style="color: #1F2228">next 24 hours</span>.</p>
    <p style="color: #909090;font-family:'Verdana','sans-serif';font-size: 16px;line-height: 29px;font-weight: 400;margin:0">To reset your password simply click the following link:</p>
    <p style="font-family:'Verdana','sans-serif';font-size: 16px;line-height: 29px;font-weight: 400;margin:0"><a href="{{link}}" style="color: #FF7200;text-decoration: underline">Reset password</a></p>
</div>