<div data-widget-id="{{ currentWidget.getWidgetId() }}" class="moto-widget moto-widget-row{{ currentWidget.getCssClasses() }}{% if (currentWidget.properties.bgFixed) %} moto-background-fixed{% endif %}{% if (currentWidget.properties.bgParallaxed) %} moto-parallax{% endif %}" data-grid-type="{{ currentWidget.getGridType() | default('sm') }}" data-widget="row" data-visible-on="{{ currentWidget.getVisibleOn('short') }}" data-spacing="{{ currentWidget.getSpacing('short') }}" style="{{ StyleHelper.generateWidgetInlineStyles(currentWidget.getStylesValue()) }}" {{ arrayToAttributes(currentWidget.getCustomAttributes()) }}>
    {% if currentWidget.isBackgroundVideoSet() %}
    <div class="moto-background-video-container moto-absolute-position__container" data-moto-background-video="">
        <video class="{{ currentWidget._getBackgroundVideoCssClass() }}" muted playsinline preload="{{ currentWidget.properties.bgVideo.preload }}"{% if currentWidget.properties.bgVideo.loop %} loop{% endif %}>
            {% if currentWidget.properties.bgVideo.track.webm.path %}
                <source type="video/webm" src="{{ Linker.file(currentWidget.properties.bgVideo.track.webm.path) }}">
            {% endif %}
            {% if currentWidget.properties.bgVideo.track.mp4.path %}
                <source type="video/mp4" src="{{ Linker.file(currentWidget.properties.bgVideo.track.mp4.path) }}">
            {% endif %}
        </video>
    </div>
    {% endif %}
    {% if currentWidget.properties.anchor %}<a class="moto-anchor" name="{{ currentWidget.properties.anchor }}"></a>{% endif %}
    <div class="container-fluid">
        <div class="row{% if (currentWidget.properties.viewportHeight) %} moto-min-height_100vh{% endif %}" data-container="container">
            {% for item in currentWidget.children %}
                {% if isServer %}
                    {{ widget(item) }}
                {% else %}
                    {% widget item %}{% endWidget %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>